<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555474376737-oem6ovkjfku19uh243tciukvi6db54s8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555474376737-oem6ovkjfku19uh243tciukvi6db54s8</string>
	<key>API_KEY</key>
	<string>AIzaSyCK__tMlKQLONiV5eKsED8iEeWrvyYZrP8</string>
	<key>GCM_SENDER_ID</key>
	<string>555474376737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yikaraman.todoey-ios13.Todoey</string>
	<key>PROJECT_ID</key>
	<string>todoey-7a7e5</string>
	<key>STORAGE_BUCKET</key>
	<string>todoey-7a7e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555474376737:ios:a5acf6f890406156842b60</string>
</dict>
</plist>